[Unit]
Description=App that shutdown device when button pressed

[Service]
Type=idle
User=root
ExecStart=/usr/local/bin/node /home/pi/Projects/power-off-button/main.js
Restart=always

[Install]
WantedBy=multi-user.target
